[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
dash = "*"
dash-bootstrap-components = "*"
requests = "*"
dash-leaflet = "*"
pytz = "*"
dash-extensions = "*"

[dev-packages]
seaborn = "*"
matplotlib = "*"

[requires]
python_full_version = "3.9.6"
